<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/hobbies">Hobbies</a>
    <h1> Who am I?</h1>
    <p>My name is Brandon and I built my first Astro project using <a href='https://www.ceos3c.com'>ceos3c.com</a></p>
</body>