<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/hobbies">Hobbies</a>
    <h1>My Hobbies</h1>
    <ul>
        <li>Sound Stuff</li>
        <li>Car stuff</li>
        <li>Computer Stuff</li>
    </ul>
</body>